<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=content-width" />
    <title>Amazon Assignment</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body style="padding: 40px; background-image: linear-gradient(to bottom right, rgb(245, 245, 245), rgb(210,210,210), rgb(180,180,180));">
    <div class="row m-1 p-1">
        <div class="col-4">
            <h1 class="text-primary">Favorite Books</h1> 
        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>