<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment_Amazon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="padding: 50px; background-image: linear-gradient(to bottom right, rgb(80, 80, 80), rgb(40,40,40), rgb(0,0,0));">

<div class="bg-dark text-white">
    <span class="navbar-brand ml-5">AMAZON BOOKS</span>
</div>
<div class="row m-1 p-1">
    <div class="col-4">
        <h1>Favorite Books</h1>
    </div>
    <div class="col-8">
        @RenderBody()
    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
