@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<string>

<!-- home button to display all seed data with no filters -->
<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    Home
</a>

<!-- nav menu displayed with highlighting and hovering effects -->

@foreach (string category in Model)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-pageNum="1" >
        @category
    </a>
}
